flows.json
[{"id":"b14d8661.cf75a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67cf68d0.b19928","type":"ui_group","z":"","name":"My Profile","tab":"3f3f3d56.0c7d72","disp":false,"width":"8"},{"id":"c986165f.9bf6e8","type":"ui_group","z":"","name":"More Info","tab":"3f3f3d56.0c7d72","disp":false,"width":"8"},{"id":"3f3f3d56.0c7d72","type":"ui_tab","z":"","name":"My Profile","icon":"perm_identity","order":1},{"id":"af25ae1a.1afe3","type":"inject","z":"b14d8661.cf75a8","name":"inject neo.id (generic input)","topic":"","payload":"neo.id","payloadType":"str","repeat":"60","crontab":"","once":true,"x":159,"y":142,"wires":[["9d569c14.93afb","2f163f25.b60ba"]]},{"id":"9d569c14.93afb","type":"debug","z":"b14d8661.cf75a8","name":"","active":true,"console":"false","complete":"payload","x":410,"y":420,"wires":[]},{"id":"e49726c2.178bd8","type":"ui_template","z":"b14d8661.cf75a8","group":"67cf68d0.b19928","name":"Result","order":1,"width":"8","height":"7","format":"<md-card md-theme=\"\" md-theme-watch>\n<md-card-title>\n    <md-card-title-text>\n        <span class=\"md-headline\">{{msg.payload[0].decodedToken.payload.claim.name}}</span>\n    </md-card-title-text>\n</md-card-title>\n<md-card-content layout=\"row\" layout-align=\"space-between\">\n<div class=\"md-media-xl card-media\">\n    <img src=\"{{msg.payload[0].decodedToken.payload.claim.image[0].contentUrl}}\" alt=\"{{msg.payload[0].decodedToken.payload.claim.name}}\" width=\"180\" height=\"180\">\n    <md-card-title-text>\n        <p></p>\n        <span class=\"md-subhead\">{{msg.payload[0].decodedToken.payload.claim.description}}</span>\n    </md-card-title-text>\n</div>\n<md-card-actions layout=\"column\">\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[0].proofUrl}}\" target=\"_blank\" aria-label=\"1st Proof\">\n  <md-icon ></md-icon>1st\n</md-button>\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[1].proofUrl}}\" target=\"_blank\" aria-label=\"2nd Proof\">\n  <md-icon ></md-icon>2nd\n</md-button>\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[2].proofUrl}}\" target=\"_blank\" aria-label=\"3rd Proof\">\n  <md-icon ></md-icon>3rd\n</md-button>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1390,"y":540,"wires":[[]]},{"id":"7649283.6b960d8","type":"function","z":"b14d8661.cf75a8","name":"rebind name","func":"var blockstackname = msg.payload.data;\nvar nameowner = msg.payload.address;\n\nmsg.topic = nameowner;\nmsg.payload = blockstackname;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[[]]},{"id":"3ca57739.6241f8","type":"http request","z":"b14d8661.cf75a8","name":"get name from blockstack","method":"GET","ret":"txt","url":"https://core.blockstack.org/v1/names/{{payload}}","tls":"","x":230,"y":460,"wires":[["57f8f68e.bd31c8"]]},{"id":"57f8f68e.bd31c8","type":"json","z":"b14d8661.cf75a8","name":"","pretty":false,"x":430,"y":460,"wires":[["55b29b6f.e4eee4","60d812c7.8080bc","2436b076.f0367"]]},{"id":"55b29b6f.e4eee4","type":"debug","z":"b14d8661.cf75a8","name":"","active":true,"console":"false","complete":"false","x":750,"y":500,"wires":[]},{"id":"60d812c7.8080bc","type":"function","z":"b14d8661.cf75a8","name":"rebind zonefile","func":"var raw_zone = msg.payload.zonefile;\n\nmsg.payload = raw_zone;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":500,"wires":[["45312be0.e19094"]]},{"id":"374661aa.f8899e","type":"debug","z":"b14d8661.cf75a8","name":"","active":true,"console":"false","complete":"payload","x":1290,"y":660,"wires":[]},{"id":"6bff35be.fe28ec","type":"http request","z":"b14d8661.cf75a8","name":"get profile from gaia","method":"GET","ret":"txt","url":"","tls":"","x":960,"y":580,"wires":[["374661aa.f8899e","c13c3ca0.7a3ec"]]},{"id":"c13c3ca0.7a3ec","type":"json","z":"b14d8661.cf75a8","name":"","pretty":false,"x":1190,"y":580,"wires":[["374661aa.f8899e","e49726c2.178bd8","a085e06c.85229","d5d09a3c.7502f8"]]},{"id":"45312be0.e19094","type":"split","z":"b14d8661.cf75a8","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":540,"wires":[["875ad719.a08528"]]},{"id":"875ad719.a08528","type":"switch","z":"b14d8661.cf75a8","name":"if contain gaia pass else fail","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"gaia.blockstack.org","vt":"str"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":360,"y":580,"wires":[["1c52fce5.c262c3"],["f2f8a56c.372fa8"]]},{"id":"f2f8a56c.372fa8","type":"debug","z":"b14d8661.cf75a8","name":"trash","active":true,"console":"false","complete":"payload","x":595,"y":645.7142791748047,"wires":[]},{"id":"1c52fce5.c262c3","type":"function","z":"b14d8661.cf75a8","name":"step1","func":"var rawstring = msg.payload;\n\nvar step1 = rawstring.split('gaia.blockstack.org/hub/')\n\nvar cleanedup = step1;\n\nmsg.payload = cleanedup;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["634b97ac.e24738","bdad506b.88bad"]]},{"id":"634b97ac.e24738","type":"function","z":"b14d8661.cf75a8","name":"step2","func":"var rawstring = msg.payload[1];\n\nvar cleanedup = rawstring.substring(0, rawstring.length-1);\n\nmsg.headers = {};\nmsg.url = \"https://gaia.blockstack.org/hub/\" + cleanedup;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":580,"wires":[["6bcd493f.0abad8","6bff35be.fe28ec"]]},{"id":"6bcd493f.0abad8","type":"debug","z":"b14d8661.cf75a8","name":"success","active":true,"console":"false","complete":"payload","x":885,"y":525.7142791748047,"wires":[]},{"id":"bdad506b.88bad","type":"debug","z":"b14d8661.cf75a8","name":"success","active":true,"console":"false","complete":"payload","x":700,"y":540,"wires":[]},{"id":"a085e06c.85229","type":"ui_template","z":"b14d8661.cf75a8","group":"c986165f.9bf6e8","name":"Signature","order":4,"width":"8","height":"2","format":"<span class=\"md-subhead\">Signature: {{msg.payload[0].decodedToken.signature}}</span>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1380,"y":580,"wires":[[]]},{"id":"8e25f836.a00a38","type":"ui_template","z":"b14d8661.cf75a8","group":"c986165f.9bf6e8","name":"Expiration Info","order":3,"width":"8","height":"5","format":"<span class=\"md-subhead\">Expiration Block: {{msg.expire}}</span>\n<span class=\"md-subhead\">Current Block: {{msg.height}}</span>\n<span class=\"md-subhead\">Blocks Remaining: {{msg.dif}}</span>\n<p></p>\n<p>Average minutes between Blocks: {{msg.stm}}</p>\n<p>Blocks per day estimate: {{msg.bpd}}</p>\n<p>Days until expiration estimate: {{msg.dux}}</p>\n<p>Today is: {{msg.now}}</p>\n<p>Estimate Date of Expiration: </p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":420,"wires":[[]]},{"id":"2436b076.f0367","type":"function","z":"b14d8661.cf75a8","name":"calc block stats","func":"//blockchain length stats\nvar rawheight = global.get(\"blockheight\");\nvar rawexpire = msg.payload.expire_block;\n\n\n//blockchain timing stats\nvar rawintvl = global.get(\"blockinterval\");\nvar intvl = Number(rawintvl);\nvar rawdate = global.get(\"now\");\nvar now1 = Date(rawdate);\n\n//length difference\nvar hght = parseInt(rawheight);\nvar expr = parseInt(rawexpire);\nvar dif = expr - hght;\n\n//timing speculation\nvar stm = intvl / 60; //seconds to minutes, ie 1 block per this minute value\nvar bph = 60 / stm; //blocks per hours estimate\nvar bpd = bph * 24; //hours to days\nvar dux = dif / bpd; // days until expire\nvar mill = dux * 86400000; //days to milliseconds\n\nvar raweta = rawdate + mill.round;\nvar eta = Date(raweta);\n\n\n//pass along the outputs\nmsg.intvl = intvl;\nmsg.stm = stm;\nmsg.bph = bph;\nmsg.bpd = bpd;\nmsg.dux = dux;\nmsg.dif = dif;\nmsg.height = hght;\nmsg.expire = expr;\nmsg.now = now1;\nmsg.rawdate = rawdate;\nmsg.raweta = raweta;\nmsg.eta = eta;\nmsg.mill = mill;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":440,"wires":[["8e25f836.a00a38","55b29b6f.e4eee4","7a7749bd.6c6718"]]},{"id":"7a7749bd.6c6718","type":"debug","z":"b14d8661.cf75a8","name":"object debug","active":true,"console":"false","complete":"true","x":810.0171508789062,"y":463.3619384765625,"wires":[]},{"id":"d5d09a3c.7502f8","type":"ui_template","z":"b14d8661.cf75a8","group":"67cf68d0.b19928","name":"BTC QR","order":1,"width":"3","height":"3","format":"<span class=\"md-subhead\"><img src=\"https://blockchain.info/qr?data={{msg.payload[0].decodedToken.payload.claim.account[0].identifier}}&size=200\" alt=\"QR\" height=\"125\" width=\"125\"></span>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1360,"y":480,"wires":[[]]},{"id":"2f163f25.b60ba","type":"http request","z":"b14d8661.cf75a8","name":"Username","method":"GET","ret":"txt","url":"http://localhost:9877/get_username","tls":"","x":120,"y":220,"wires":[["3ca57739.6241f8"]]}]