flows.json
[{"id":"7c678072.e5f22","type":"tab","label":"Profile Lookup","disabled":false,"info":""},{"id":"41f61d2.fbe09e4","type":"tab","label":"Project Lookup","disabled":false,"info":""},{"id":"ca89c10e.a0dda","type":"tab","label":"Price Checks","disabled":false,"info":""},{"id":"94c206c4.a829f8","type":"tab","label":"Name History","disabled":false,"info":""},{"id":"1de8511a.177d8f","type":"tab","label":"Names Owned by Address","disabled":false,"info":""},{"id":"717e3517.acd13c","type":"tab","label":"Name Lookup","disabled":false,"info":""},{"id":"c232b670.7050a8","type":"tab","label":"Project Lookup","disabled":false,"info":""},{"id":"89816641.4afa78","type":"tab","label":"Price Checks","disabled":false,"info":""},{"id":"5e29a258.367bcc","type":"tab","label":"Name History","disabled":false,"info":""},{"id":"b9251e55.17c9c","type":"tab","label":"Names Owned by Address","disabled":false,"info":""},{"id":"52a903f3.ad56fc","type":"ui_tab","z":"41f61d2.fbe09e4","name":"Project Lookup","icon":"location_searching","order":2},{"id":"d9ba26fa.6d2b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#7257ee","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#7257ee","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ac9cf5","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#7257ee","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}}},"site":{"name":"Blockstack","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87356b62.92e3d8","type":"ui_group","z":"","name":"Souq","tab":"52a903f3.ad56fc","order":1,"disp":true,"width":"6"},{"id":"c75ad4f0.0cede8","type":"ui_group","z":"","name":"Map","tab":null,"order":6,"disp":true,"width":"6"},{"id":"35f406bc.24958a","type":"ui_link","z":"","name":"Admin","link":"/admin","icon":"open_in_browser","target":"newtab","order":6},{"id":"d680c8c0.12be98","type":"ui_group","z":"","name":"Results","tab":null,"order":5,"disp":true,"width":"6"},{"id":"5a87d2c3.40682c","type":"ui_tab","z":"","name":"Profile Lookup","icon":"search","order":1},{"id":"677619d7.8d8578","type":"ui_group","z":"","name":"Blockstack","tab":"5a87d2c3.40682c","disp":true,"width":"6"},{"id":"db4fb507.d9bb88","type":"ui_group","z":"","name":"Text Results","tab":null,"order":3,"disp":false,"width":"6"},{"id":"856fe4a3.18a768","type":"ui_group","z":"","name":"Results","tab":null,"order":2,"disp":true,"width":"12"},{"id":"211296b0.28c4da","type":"ui_group","z":"","name":"Graph","tab":"","disp":true,"width":"6"},{"id":"3affeeb9.7b6812","type":"ui_group","z":"","name":"Profile","tab":"5a87d2c3.40682c","disp":false,"width":"6"},{"id":"207e3e62.731d62","type":"ui_tab","z":"","name":"Price Checks","icon":"loyalty","order":3},{"id":"232db903.19ad16","type":"ui_group","z":"","name":"Get Name Price","tab":"207e3e62.731d62","disp":true,"width":"6"},{"id":"393acb0.a3f5036","type":"ui_group","z":"","name":"Get Namespace Price","tab":"207e3e62.731d62","disp":true,"width":"6"},{"id":"a79e319f.9b2cd","type":"ui_tab","z":"","name":"Name History","icon":"history","order":4},{"id":"f78a2bcd.6dd898","type":"ui_group","z":"","name":"Get Name History","tab":"a79e319f.9b2cd","disp":true,"width":"12"},{"id":"4b8548f.99049b8","type":"ui_group","z":"","name":"Summary","tab":"52a903f3.ad56fc","disp":true,"width":"6"},{"id":"23948119.d3ce6e","type":"ui_group","z":"","name":"Lookup Owned Names","tab":"83d3d273.d6e54","order":1,"disp":true,"width":"12"},{"id":"83d3d273.d6e54","type":"ui_tab","z":"","name":"Search by Address","icon":"search","order":5},{"id":"58837bca.960ea4","type":"ui_tab","z":"c232b670.7050a8","name":"Project Lookup","icon":"location_searching","order":2},{"id":"6c7ca644.27cb38","type":"ui_group","z":"","name":"My Profile","tab":"94650e31.7a17f","disp":false,"width":"8"},{"id":"dd389bbf.18cb28","type":"ui_group","z":"","name":"More Info","tab":"94650e31.7a17f","disp":false,"width":"8"},{"id":"94650e31.7a17f","type":"ui_tab","z":"","name":"My Profile","icon":"perm_identity","order":1},{"id":"3636c5d.f88d13a","type":"ui_group","z":"","name":"My Profile","tab":"761dc6b8.165658","disp":false,"width":"8"},{"id":"2fbf4ee8.074862","type":"ui_group","z":"","name":"More Info","tab":"761dc6b8.165658","disp":false,"width":"8"},{"id":"761dc6b8.165658","type":"ui_tab","z":"","name":"My Profile","icon":"perm_identity","order":1},{"id":"7d549f6e.58ab6","type":"worldmap","z":"41f61d2.fbe09e4","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","x":1210,"y":280,"wires":[]},{"id":"c87aa53d.223ba8","type":"inject","z":"41f61d2.fbe09e4","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":360,"wires":[["42a56979.e10b68"]]},{"id":"582c9a7e.d9d014","type":"ui_template","z":"41f61d2.fbe09e4","group":"87356b62.92e3d8","name":"map","order":3,"width":"6","height":"7","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":360,"wires":[[]]},{"id":"42a56979.e10b68","type":"template","z":"41f61d2.fbe09e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=300px></iframe>","x":270,"y":360,"wires":[["582c9a7e.d9d014"]]},{"id":"1722289.9cab8d7","type":"ui_form","z":"41f61d2.fbe09e4","name":"","label":"Lookup Project","group":"87356b62.92e3d8","order":2,"width":"6","height":"4","options":[{"label":"Unique.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":80,"y":280,"wires":[["2afed987.2e5276"]]},{"id":"d292cb0f.9a9aa8","type":"debug","z":"41f61d2.fbe09e4","name":"","active":true,"console":"false","complete":"payload","x":430,"y":240,"wires":[]},{"id":"2afed987.2e5276","type":"function","z":"41f61d2.fbe09e4","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["fc25af37.2b062","d292cb0f.9a9aa8"]]},{"id":"fc25af37.2b062","type":"http request","z":"41f61d2.fbe09e4","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/names/{{payload}}","tls":"","x":430,"y":280,"wires":[["ebcd1f16.bf5b8"]]},{"id":"ebcd1f16.bf5b8","type":"json","z":"41f61d2.fbe09e4","name":"","pretty":false,"x":570,"y":280,"wires":[["a2cfd324.c0011","1208296f.6b57d7","fdfd7ede.dd58a"]]},{"id":"b0ef3f14.caf3b","type":"function","z":"41f61d2.fbe09e4","name":"prep for map","func":"// create random position\nvar lat = msg.payload.project[0].coordinates.latitude;\nvar lon = msg.payload.project[0].coordinates.longitude;\nmsg.payload={lat:lat, lon:lon, name:\"Project\", icon:\"bitcoin\", url:\"<a href=\\\"/red/ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[["7d549f6e.58ab6"]]},{"id":"a2cfd324.c0011","type":"debug","z":"41f61d2.fbe09e4","name":"","active":true,"console":"false","complete":"false","x":730,"y":320,"wires":[]},{"id":"1208296f.6b57d7","type":"debug","z":"41f61d2.fbe09e4","name":"","active":true,"console":"false","complete":"payload.zonefile","x":760,"y":240,"wires":[]},{"id":"52ad566c.ad5558","type":"comment","z":"41f61d2.fbe09e4","name":"sample project to lookup","info":"pr01-mdf9kesl9v92lclivkrfcgt1.id","x":230,"y":440,"wires":[]},{"id":"fdfd7ede.dd58a","type":"function","z":"41f61d2.fbe09e4","name":"rebind zonefile","func":"var raw_zone = msg.payload.zonefile;\n\n\nmsg.payload = raw_zone;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":280,"wires":[["8875a384.84caf"]]},{"id":"ea6cd7d7.1ebc08","type":"debug","z":"41f61d2.fbe09e4","name":"zone debugger","active":true,"console":"false","complete":"payload","x":1040,"y":180,"wires":[]},{"id":"8875a384.84caf","type":"json","z":"41f61d2.fbe09e4","name":"","pretty":false,"x":890,"y":280,"wires":[["ea6cd7d7.1ebc08","b0ef3f14.caf3b","71c42a1e.da4de4","74c05793.9d9f78"]]},{"id":"fefd9c89.17999","type":"ui_form","z":"7c678072.e5f22","name":"","label":"Profile Lookup","group":"677619d7.8d8578","order":2,"width":"6","height":"3","options":[{"label":"Name.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":100,"y":300,"wires":[["763ce6f7.1a6b88"]]},{"id":"3e71c39f.f3f72c","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"payload","x":450,"y":260,"wires":[]},{"id":"dad58184.246f4","type":"ui_template","z":"7c678072.e5f22","group":"3affeeb9.7b6812","name":"Result","order":1,"width":"6","height":"8","format":"<md-card md-theme=\"\" md-theme-watch>\n    <md-card-title>\n        <md-card-title-text>\n            <span class=\"md-headline\">{{msg.payload.name.formatted}}</span>\n        </md-card-title-text>\n    </md-card-title>\n<md-card-content layout=\"row\" layout-align=\"space-between\">\n<div class=\"md-media-xl card-media\">\n    <img src=\"{{msg.payload.avatar.url}}\" alt=\"{{msg.payload.name.formatted}}\" width=\"180\" height=\"180\">\n    <md-card-title-text>\n        <span class=\"md-subhead\">{{msg.payload.bio}}</span>\n    </md-card-title-text>\n</div>\n<md-card-actions layout=\"column\">\n<md-button class=\"fa fa-twitter fa-2x\" ng-href=\"{{msg.payload.twitter.proof.url}}\" target=\"_blank\" class=\"md-icon-button\" aria-label=\"Twitter\">\n  <md-icon ></md-icon>\n</md-button>\n<md-button class=\"fa fa-facebook fa-2x\" ng-href=\"{{msg.payload.facebook.proof.url}}\" target=\"_blank\" aria-label=\"Facebook\">\n  <md-icon ></md-icon>\n</md-button>\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload.website}}\" target=\"_blank\" aria-label=\"Website\">\n  <md-icon ></md-icon>\n</md-button>\n<md-button class=\"fa fa-qrcode fa-2x\" ng-href=\"https://blockchain.info/qr?data={{msg.payload.bitcoin.address}}&size=200\" target=\"_blank\" aria-label=\"QR\">\n  <md-icon ></md-icon>\n</md-button>\n<span class=\"md-subhead\">version: {{msg.payload.v}}</span>\n</md-card-actions>\n</md-card-content>\n</md-card>\n\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1046,"y":299,"wires":[[]]},{"id":"763ce6f7.1a6b88","type":"function","z":"7c678072.e5f22","name":"rebind name","func":"var blockstackname = msg.payload.data;\nvar nameowner = msg.payload.address;\n\nmsg.topic = nameowner;\nmsg.payload = blockstackname;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["828a5c4f.f7d23","3e71c39f.f3f72c"]]},{"id":"828a5c4f.f7d23","type":"http request","z":"7c678072.e5f22","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/names/{{payload}}","tls":"","x":450,"y":300,"wires":[["a4441fd.1b247e"]]},{"id":"a4441fd.1b247e","type":"json","z":"7c678072.e5f22","name":"","pretty":false,"x":590,"y":300,"wires":[["d0a6c88b.40ddc8","a898909c.f2b58"]]},{"id":"d0a6c88b.40ddc8","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"false","x":730,"y":260,"wires":[]},{"id":"a898909c.f2b58","type":"function","z":"7c678072.e5f22","name":"rebind zonefile","func":"var raw_zone = msg.payload.zonefile;\n\nmsg.payload = raw_zone;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":300,"wires":[["e0bccbe6.f9bc18"]]},{"id":"e0bccbe6.f9bc18","type":"json","z":"7c678072.e5f22","name":"","pretty":false,"x":890,"y":300,"wires":[["dad58184.246f4","844e6175.77a0f","1b8c80e5.be04cf"]]},{"id":"71c42a1e.da4de4","type":"ui_template","z":"41f61d2.fbe09e4","group":"4b8548f.99049b8","name":"Project Summary","order":0,"width":"6","height":"11","format":"<div>\n    <h3>{{msg.payload.project[0].project.title}}</h3>\n</div>\n<div>\n    Type: {{msg.payload.project[0].project.type}}\n</div>\n<div>\n    Category: {{msg.payload.project[0].project.category}}\n</div>\n<div>\n    Detail: {{msg.payload.project[0].project.detail}}\n</div>\n<div>\n   BTC Goal: {{msg.payload.project[0].bitcoin.goal}}\n</div>\n<div>\n    <img src=\"https://blockchain.info/qr?data={{msg.payload.project[0].bitcoin.address}}&size=200\" alt=\"QR\" style=\"width:200px;height:200px;\"> \n</div>\n<div>\n    <img src=\"{{msg.payload.project[0].image.url}}\" alt=\"Thumbnail\" style=\"width:200px;height:200px;\">\n</div>\n\n<div>\n    Search Sample: pr01-mdf9kesl9v92lclivkrfcgt1.id\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1070,"y":320,"wires":[[]]},{"id":"7c331bf6.7cba24","type":"ui_form","z":"ca89c10e.a0dda","name":"","label":"Search by Name","group":"232db903.19ad16","order":1,"width":"6","height":"3","options":[{"label":"Name.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":80,"y":140,"wires":[["f9922725.fe2608"]]},{"id":"f9922725.fe2608","type":"function","z":"ca89c10e.a0dda","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["86f31206.e1959","32d45ea7.7296a2"]]},{"id":"86f31206.e1959","type":"http request","z":"ca89c10e.a0dda","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/prices/names/{{payload}}","tls":"","x":430,"y":140,"wires":[["fcb22c94.4894c"]]},{"id":"32d45ea7.7296a2","type":"debug","z":"ca89c10e.a0dda","name":"","active":true,"console":"false","complete":"payload","x":430,"y":100,"wires":[]},{"id":"fcb22c94.4894c","type":"json","z":"ca89c10e.a0dda","name":"","pretty":false,"x":570,"y":140,"wires":[["169d4769.7b6f29","e5335b37.ecdfb8"]]},{"id":"169d4769.7b6f29","type":"debug","z":"ca89c10e.a0dda","name":"","active":true,"console":"false","complete":"false","x":710,"y":100,"wires":[]},{"id":"e5335b37.ecdfb8","type":"ui_template","z":"ca89c10e.a0dda","group":"232db903.19ad16","name":"Result","order":2,"width":"6","height":"9","format":"<div>\n    Estimated Cost: {{msg.payload.total_estimated_cost.btc}}\n</div>\n<div>\n    {{msg.payload.warnings[0]}}\n</div>\n<br>\nRaw Results: {{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":140,"wires":[[]]},{"id":"dc7d8e5f.41b89","type":"ui_form","z":"ca89c10e.a0dda","name":"","label":"By Namespace (tld)","group":"393acb0.a3f5036","order":1,"width":"6","height":"3","options":[{"label":"id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":90,"y":340,"wires":[["4497b18a.c6f2d"]]},{"id":"4497b18a.c6f2d","type":"function","z":"ca89c10e.a0dda","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["4711613b.4cb8d","a5546cc6.f2cf2"]]},{"id":"4711613b.4cb8d","type":"http request","z":"ca89c10e.a0dda","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/prices/namespaces/{{payload}}","tls":"","x":470,"y":340,"wires":[["5855b7a8.c7a3a8"]]},{"id":"a5546cc6.f2cf2","type":"debug","z":"ca89c10e.a0dda","name":"","active":true,"console":"false","complete":"payload","x":470,"y":300,"wires":[]},{"id":"5855b7a8.c7a3a8","type":"json","z":"ca89c10e.a0dda","name":"","pretty":false,"x":610,"y":340,"wires":[["18923e46.525b12","27e39f49.b9579"]]},{"id":"18923e46.525b12","type":"debug","z":"ca89c10e.a0dda","name":"","active":true,"console":"false","complete":"false","x":750,"y":300,"wires":[]},{"id":"27e39f49.b9579","type":"ui_template","z":"ca89c10e.a0dda","group":"393acb0.a3f5036","name":"Result","order":2,"width":"6","height":"9","format":"Satoshis: {{msg.payload.satoshis}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":340,"wires":[[]]},{"id":"90a9dd66.e122e","type":"ui_form","z":"94c206c4.a829f8","name":"","label":"Search by Name","group":"f78a2bcd.6dd898","order":1,"width":"6","height":"3","options":[{"label":"Name.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":100,"y":100,"wires":[["7c54c544.d9f2fc"]]},{"id":"7c54c544.d9f2fc","type":"function","z":"94c206c4.a829f8","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["b48e2e67.79af9","25863764.603ee8"]]},{"id":"b48e2e67.79af9","type":"http request","z":"94c206c4.a829f8","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/names/{{payload}}/history","tls":"","x":450,"y":100,"wires":[["9bd2d3a0.b3342"]]},{"id":"25863764.603ee8","type":"debug","z":"94c206c4.a829f8","name":"","active":true,"console":"false","complete":"payload","x":450,"y":60,"wires":[]},{"id":"9bd2d3a0.b3342","type":"json","z":"94c206c4.a829f8","name":"","pretty":false,"x":590,"y":100,"wires":[["ff6c370e.fcc388","315f5e9b.18ba92"]]},{"id":"ff6c370e.fcc388","type":"debug","z":"94c206c4.a829f8","name":"","active":true,"console":"false","complete":"false","x":730,"y":60,"wires":[]},{"id":"315f5e9b.18ba92","type":"ui_template","z":"94c206c4.a829f8","group":"f78a2bcd.6dd898","name":"Result","order":2,"width":"6","height":"9","format":"Raw Results: {{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":100,"wires":[[]]},{"id":"57752473.9d7edc","type":"ui_audio","z":"41f61d2.fbe09e4","name":"","group":"87356b62.92e3d8","voice":"0","always":"","x":1220,"y":240,"wires":[]},{"id":"74c05793.9d9f78","type":"function","z":"41f61d2.fbe09e4","name":"tts","func":"var words = msg.payload.project[0].project.detail;\n\nmsg.payload = words;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["57752473.9d7edc"]]},{"id":"84a1bf9a.30a21","type":"ui_audio","z":"7c678072.e5f22","name":"","group":"3affeeb9.7b6812","voice":"0","always":"","x":1160,"y":340,"wires":[]},{"id":"844e6175.77a0f","type":"function","z":"7c678072.e5f22","name":"tts","func":"var proname = msg.payload.name.formatted;\nvar probio = msg.payload.bio;\n\nmsg.payload = \"Search Results for \" + proname + \" indicate a bio of \" + probio;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":340,"wires":[["84a1bf9a.30a21"]]},{"id":"a8f5ec90.ae87e","type":"ui_form","z":"1de8511a.177d8f","name":"","label":"Search by Address","group":"23948119.d3ce6e","order":1,"width":"6","height":"3","options":[{"label":"Address","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":96,"y":81,"wires":[["592239.7c1bddc8"]]},{"id":"592239.7c1bddc8","type":"function","z":"1de8511a.177d8f","name":"rebind address","func":"var btcaddress = msg.payload.data;\n\nmsg.payload = btcaddress;\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":80,"wires":[["fdbc84bd.616ac8","23d629cf.31b706"]]},{"id":"fdbc84bd.616ac8","type":"http request","z":"1de8511a.177d8f","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/addresses/bitcoin/{{payload}}","tls":"","x":450,"y":80,"wires":[["bdb07f47.64877"]]},{"id":"23d629cf.31b706","type":"debug","z":"1de8511a.177d8f","name":"","active":true,"console":"false","complete":"payload","x":436,"y":41,"wires":[]},{"id":"bdb07f47.64877","type":"json","z":"1de8511a.177d8f","name":"","pretty":false,"x":609,"y":81,"wires":[["a25780e4.be054","6c2dad0a.8836a4"]]},{"id":"a25780e4.be054","type":"debug","z":"1de8511a.177d8f","name":"","active":true,"console":"false","complete":"false","x":716,"y":41,"wires":[]},{"id":"6c2dad0a.8836a4","type":"ui_template","z":"1de8511a.177d8f","group":"23948119.d3ce6e","name":"Result","order":2,"width":"6","height":"9","format":"Raw Results: {{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":816,"y":81,"wires":[[]]},{"id":"1b8c80e5.be04cf","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"topic","x":1054,"y":180,"wires":[]},{"id":"f96c2c92.6256f","type":"worldmap","z":"c232b670.7050a8","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","x":1210,"y":280,"wires":[]},{"id":"16f4144.81b33ec","type":"inject","z":"c232b670.7050a8","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":360,"wires":[["56498495.90894c"]]},{"id":"a20038ca.1a1478","type":"ui_template","z":"c232b670.7050a8","group":"87356b62.92e3d8","name":"map","order":3,"width":"6","height":"7","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":360,"wires":[[]]},{"id":"56498495.90894c","type":"template","z":"c232b670.7050a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=300px></iframe>","x":270,"y":360,"wires":[["a20038ca.1a1478"]]},{"id":"62000757.d8deb8","type":"ui_form","z":"c232b670.7050a8","name":"","label":"Lookup Project","group":"87356b62.92e3d8","order":2,"width":"6","height":"4","options":[{"label":"Unique.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":80,"y":280,"wires":[["d9d93218.d797b"]]},{"id":"3f0baaa1.ae4c56","type":"debug","z":"c232b670.7050a8","name":"","active":true,"console":"false","complete":"payload","x":450,"y":180,"wires":[]},{"id":"d9d93218.d797b","type":"function","z":"c232b670.7050a8","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["2abceee2.61adc2","3f0baaa1.ae4c56"]]},{"id":"2abceee2.61adc2","type":"http request","z":"c232b670.7050a8","name":"get souq project","method":"GET","ret":"txt","url":"http://bns.cryptocracy.io:1880/public?request=lookup&id={{payload}}&admin=false","tls":"","x":440,"y":280,"wires":[["bd0306c8.6d7788"]]},{"id":"bd0306c8.6d7788","type":"json","z":"c232b670.7050a8","name":"","pretty":false,"x":590,"y":280,"wires":[["22ea7ff1.05e97","70552240.5a394c","4884597e.7e8968"]]},{"id":"70552240.5a394c","type":"function","z":"c232b670.7050a8","name":"prep for map","func":"// create random position\nvar lat = msg.payload.project[0].coordinates.latitude;\nvar lon = msg.payload.project[0].coordinates.longitude;\nmsg.payload={lat:lat, lon:lon, name:\"Project\", icon:\"bitcoin\", url:\"<a href=\\\"/red/ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[["f96c2c92.6256f"]]},{"id":"75c68c7c.406cc4","type":"comment","z":"c232b670.7050a8","name":"sample project to lookup","info":"pr01-mdf9kesl9v92lclivkrfcgt1.id","x":230,"y":440,"wires":[]},{"id":"4884597e.7e8968","type":"debug","z":"c232b670.7050a8","name":"zone debugger","active":true,"console":"false","complete":"payload","x":740,"y":200,"wires":[]},{"id":"44a94335.09612c","type":"ui_form","z":"717e3517.acd13c","name":"","label":"Name Lookup","group":"677619d7.8d8578","order":1,"width":"8","height":"3","options":[{"label":"Name.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":70,"y":20,"wires":[["1ed8b91e.96e547"]]},{"id":"c1818779.52b348","type":"debug","z":"717e3517.acd13c","name":"","active":true,"console":"false","complete":"payload","x":310,"y":220,"wires":[]},{"id":"95796bcc.9e9648","type":"ui_template","z":"717e3517.acd13c","group":"3affeeb9.7b6812","name":"Result","order":1,"width":"8","height":"8","format":"<md-card md-theme=\"\" md-theme-watch>\n    <md-card-title>\n        <md-card-title-text>\n            <span class=\"md-headline\">{{msg.payload[0].decodedToken.payload.claim.name}}</span>\n        </md-card-title-text>\n    </md-card-title>\n<md-card-content layout=\"row\" layout-align=\"space-between\">\n<div class=\"md-media-xl card-media\">\n    <img src=\"{{msg.payload[0].decodedToken.payload.claim.image[0].contentUrl}}\" alt=\"{{msg.payload[0].decodedToken.payload.claim.name}}\" width=\"180\" height=\"180\">\n    <md-card-title-text>\n        <p></p>\n        <span class=\"md-subhead\">{{msg.payload[0].decodedToken.payload.claim.description}}</span>\n    </md-card-title-text>\n</div>\n<md-card-actions layout=\"column\">\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[0].proofUrl}}\" target=\"_blank\" aria-label=\"1st Proof\">\n  <md-icon ></md-icon>1st\n</md-button>\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[1].proofUrl}}\" target=\"_blank\" aria-label=\"2nd Proof\">\n  <md-icon ></md-icon>2nd\n</md-button>\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[2].proofUrl}}\" target=\"_blank\" aria-label=\"3rd Proof\">\n  <md-icon ></md-icon>3rd\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1290,"y":340,"wires":[[]]},{"id":"1ed8b91e.96e547","type":"function","z":"717e3517.acd13c","name":"rebind name","func":"var blockstackname = msg.payload.data;\nvar nameowner = msg.payload.address;\n\nmsg.topic = nameowner;\nmsg.payload = blockstackname;\n\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":220,"wires":[["5f73fc63.b311d4","c1818779.52b348"]]},{"id":"5f73fc63.b311d4","type":"http request","z":"717e3517.acd13c","name":"get name from blockstack","method":"GET","ret":"txt","url":"https://core.blockstack.org/v1/names/{{payload}}","tls":"","x":130,"y":260,"wires":[["5ca8d9d9.e5ac78"]]},{"id":"5ca8d9d9.e5ac78","type":"json","z":"717e3517.acd13c","name":"","pretty":false,"x":330,"y":260,"wires":[["731ccef3.fac68","12be19d2.4c6306","7311779f.ce3a68"]]},{"id":"731ccef3.fac68","type":"debug","z":"717e3517.acd13c","name":"","active":true,"console":"false","complete":"false","x":650,"y":300,"wires":[]},{"id":"12be19d2.4c6306","type":"function","z":"717e3517.acd13c","name":"rebind zonefile","func":"var raw_zone = msg.payload.zonefile;\n\nmsg.payload = raw_zone;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["497c22a9.80152c"]]},{"id":"22ea7ff1.05e97","type":"ui_template","z":"c232b670.7050a8","group":"4b8548f.99049b8","name":"Project Summary","order":1,"width":"6","height":"11","format":"<div>\n    <h3>{{msg.payload.project[0].project.title}}</h3>\n</div>\n<div>\n    Type: {{msg.payload.project[0].project.type}}\n</div>\n<div>\n    Category: {{msg.payload.project[0].project.category}}\n</div>\n<div>\n    Detail: {{msg.payload.project[0].project.detail}}\n</div>\n<div>\n   BTC Goal: {{msg.payload.project[0].bitcoin.goal}}\n</div>\n<div>\n    <img src=\"https://blockchain.info/qr?data={{msg.payload.project[0].bitcoin.address}}&size=200\" alt=\"QR\" style=\"width:200px;height:200px;\"> \n</div>\n<div>\n    <img src=\"{{msg.payload.project[0].image.url}}\" alt=\"Thumbnail\" style=\"width:200px;height:200px;\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1070,"y":320,"wires":[[]]},{"id":"e13a9f26.af312","type":"ui_form","z":"89816641.4afa78","name":"","label":"Search by Name","group":"232db903.19ad16","order":2,"width":"6","height":"3","options":[{"label":"Name.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":80,"y":140,"wires":[["8b8ba624.136268"]]},{"id":"8b8ba624.136268","type":"function","z":"89816641.4afa78","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["3e39fa5d.a0b496","8505a954.767388"]]},{"id":"3e39fa5d.a0b496","type":"http request","z":"89816641.4afa78","name":"blockstack","method":"GET","ret":"txt","url":"https://core.blockstack.org/v1/prices/names/{{payload}}","tls":"","x":430,"y":140,"wires":[["1016c694.87c779"]]},{"id":"8505a954.767388","type":"debug","z":"89816641.4afa78","name":"","active":true,"console":"false","complete":"payload","x":430,"y":100,"wires":[]},{"id":"1016c694.87c779","type":"json","z":"89816641.4afa78","name":"","pretty":false,"x":570,"y":140,"wires":[["810fc011.8c0c8","2db73e79.79f822"]]},{"id":"810fc011.8c0c8","type":"debug","z":"89816641.4afa78","name":"","active":true,"console":"false","complete":"false","x":710,"y":100,"wires":[]},{"id":"2db73e79.79f822","type":"ui_template","z":"89816641.4afa78","group":"232db903.19ad16","name":"Result","order":3,"width":"6","height":"9","format":"<div>\n    Estimated Cost: {{msg.payload.total_estimated_cost.btc}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":140,"wires":[[]]},{"id":"9e078256.12512","type":"ui_form","z":"89816641.4afa78","name":"","label":"By Namespace (tld)","group":"393acb0.a3f5036","order":1,"width":"6","height":"3","options":[{"label":"id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":90,"y":340,"wires":[["69c12a10.1c9564"]]},{"id":"69c12a10.1c9564","type":"function","z":"89816641.4afa78","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["c043a1f1.e1ca8","4d382004.2ca43"]]},{"id":"c043a1f1.e1ca8","type":"http request","z":"89816641.4afa78","name":"blockstack","method":"GET","ret":"txt","url":"https://core.blockstack.org/v1/prices/namespaces/{{payload}}","tls":"","x":470,"y":340,"wires":[["6e2fadbb.bc3194"]]},{"id":"4d382004.2ca43","type":"debug","z":"89816641.4afa78","name":"","active":true,"console":"false","complete":"payload","x":470,"y":300,"wires":[]},{"id":"6e2fadbb.bc3194","type":"json","z":"89816641.4afa78","name":"","pretty":false,"x":610,"y":340,"wires":[["bf2308c9.e09748","a112d062.23407"]]},{"id":"bf2308c9.e09748","type":"debug","z":"89816641.4afa78","name":"","active":true,"console":"false","complete":"false","x":750,"y":300,"wires":[]},{"id":"a112d062.23407","type":"ui_template","z":"89816641.4afa78","group":"393acb0.a3f5036","name":"Result","order":2,"width":"6","height":"9","format":"Satoshis: {{msg.payload.satoshis}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":340,"wires":[[]]},{"id":"6caa72a.d85928c","type":"ui_form","z":"5e29a258.367bcc","name":"","label":"Search by Name","group":"f78a2bcd.6dd898","order":1,"width":"6","height":"3","options":[{"label":"Name.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":100,"y":100,"wires":[["7348dfe3.e3983"]]},{"id":"7348dfe3.e3983","type":"function","z":"5e29a258.367bcc","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["fdc92f2a.e2d8e","d41ed975.a805f8"]]},{"id":"fdc92f2a.e2d8e","type":"http request","z":"5e29a258.367bcc","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/names/{{payload}}/history","tls":"","x":450,"y":100,"wires":[["7bdb7727.e6a218"]]},{"id":"d41ed975.a805f8","type":"debug","z":"5e29a258.367bcc","name":"","active":true,"console":"false","complete":"payload","x":450,"y":60,"wires":[]},{"id":"7bdb7727.e6a218","type":"json","z":"5e29a258.367bcc","name":"","pretty":false,"x":590,"y":100,"wires":[["b4de7599.937018","b70971c.0d06a9"]]},{"id":"b4de7599.937018","type":"debug","z":"5e29a258.367bcc","name":"","active":true,"console":"false","complete":"false","x":730,"y":60,"wires":[]},{"id":"b70971c.0d06a9","type":"ui_template","z":"5e29a258.367bcc","group":"f78a2bcd.6dd898","name":"Result","order":2,"width":"6","height":"9","format":"Raw Results: {{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":100,"wires":[[]]},{"id":"3e63adad.c9a682","type":"ui_audio","z":"c232b670.7050a8","name":"","group":"87356b62.92e3d8","voice":"0","always":"","x":1220,"y":240,"wires":[]},{"id":"fc75a95e.d60da8","type":"function","z":"c232b670.7050a8","name":"tts","func":"var words = msg.payload.project[0].project.detail;\n\nmsg.payload = words;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":240,"wires":[["3e63adad.c9a682"]]},{"id":"89991a54.dace88","type":"ui_form","z":"b9251e55.17c9c","name":"","label":"Search by Address","group":"23948119.d3ce6e","order":1,"width":"6","height":"3","options":[{"label":"Address","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":96,"y":81,"wires":[["60fba08c.f4dcc"]]},{"id":"60fba08c.f4dcc","type":"function","z":"b9251e55.17c9c","name":"rebind address","func":"var btcaddress = msg.payload.data;\n\nmsg.payload = btcaddress;\nreturn msg;","outputs":1,"noerr":0,"x":281,"y":80,"wires":[["de9087b.95b0e78","92d1723c.1fb2c"]]},{"id":"de9087b.95b0e78","type":"http request","z":"b9251e55.17c9c","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/addresses/bitcoin/{{payload}}","tls":"","x":450,"y":80,"wires":[["3028e0e7.a140e"]]},{"id":"92d1723c.1fb2c","type":"debug","z":"b9251e55.17c9c","name":"","active":true,"console":"false","complete":"payload","x":436,"y":41,"wires":[]},{"id":"3028e0e7.a140e","type":"json","z":"b9251e55.17c9c","name":"","pretty":false,"x":609,"y":81,"wires":[["4edf9a68.054f74","5b6a63d6.f842ec"]]},{"id":"4edf9a68.054f74","type":"debug","z":"b9251e55.17c9c","name":"","active":true,"console":"false","complete":"false","x":716,"y":41,"wires":[]},{"id":"5b6a63d6.f842ec","type":"ui_template","z":"b9251e55.17c9c","group":"23948119.d3ce6e","name":"Result","order":2,"width":"6","height":"9","format":"Raw Results: {{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":816,"y":81,"wires":[[]]},{"id":"3ebd59e4.ee3f16","type":"debug","z":"717e3517.acd13c","name":"","active":true,"console":"false","complete":"payload","x":1190,"y":460,"wires":[]},{"id":"29a1218f.0f34ae","type":"http request","z":"717e3517.acd13c","name":"get profile from gaia","method":"GET","ret":"txt","url":"","tls":"","x":860,"y":380,"wires":[["3ebd59e4.ee3f16","94313748.0c50b8"]]},{"id":"94313748.0c50b8","type":"json","z":"717e3517.acd13c","name":"","pretty":false,"x":1090,"y":380,"wires":[["3ebd59e4.ee3f16","95796bcc.9e9648","e4dd3986.053c78"]]},{"id":"497c22a9.80152c","type":"split","z":"717e3517.acd13c","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":340,"wires":[["65c3e60.516a31c"]]},{"id":"65c3e60.516a31c","type":"switch","z":"717e3517.acd13c","name":"if contain gaia pass else fail","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"gaia.blockstack.org","vt":"str"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":260,"y":380,"wires":[["c0a9071b.15ec88"],["2f67b918.e790c6"]]},{"id":"2f67b918.e790c6","type":"debug","z":"717e3517.acd13c","name":"trash","active":true,"console":"false","complete":"payload","x":495,"y":445.7142791748047,"wires":[]},{"id":"c0a9071b.15ec88","type":"function","z":"717e3517.acd13c","name":"step1","func":"var rawstring = msg.payload;\n\nvar step1 = rawstring.split('gaia.blockstack.org/hub/')\n\nvar cleanedup = step1;\n\nmsg.payload = cleanedup;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["4694c9a3.550188","9561b865.feb338"]]},{"id":"4694c9a3.550188","type":"function","z":"717e3517.acd13c","name":"step2","func":"var rawstring = msg.payload[1];\n\nvar cleanedup = rawstring.substring(0, rawstring.length-1);\n\nmsg.headers = {};\nmsg.url = \"https://gaia.blockstack.org/hub/\" + cleanedup;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["f255c923.395728","29a1218f.0f34ae"]]},{"id":"f255c923.395728","type":"debug","z":"717e3517.acd13c","name":"success","active":true,"console":"false","complete":"payload","x":785,"y":325.7142791748047,"wires":[]},{"id":"9561b865.feb338","type":"debug","z":"717e3517.acd13c","name":"success","active":true,"console":"false","complete":"payload","x":600,"y":340,"wires":[]},{"id":"e4dd3986.053c78","type":"ui_template","z":"717e3517.acd13c","group":"677619d7.8d8578","name":"Signature","order":2,"width":"8","height":"2","format":"<span class=\"md-subhead\">Signature: {{msg.payload[0].decodedToken.signature}}</span>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1300,"y":380,"wires":[[]]},{"id":"fc760967.3ff458","type":"comment","z":"c232b670.7050a8","name":"","info":"","x":1040.4742584228516,"y":376.5103302001953,"wires":[]},{"id":"93ba36ff.bd58b8","type":"ui_template","z":"c232b670.7050a8","group":"87356b62.92e3d8","name":"Project Samples","order":1,"width":"6","height":"1","format":"<div>\n    pr01-mdf9kesl9v92lclivkrfcgt1.id\n    <p></p>\n    pr01-33u8oz9a3n5wu6pomej9s39r.id\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1060,"y":440,"wires":[[]]},{"id":"764821bd.f55a","type":"ui_template","z":"717e3517.acd13c","group":"677619d7.8d8578","name":"Expiration Info","order":4,"width":"8","height":"5","format":"<span class=\"md-subhead\">Expiration Block: {{msg.expire}}</span>\n<span class=\"md-subhead\">Current Block: {{msg.height}}</span>\n<span class=\"md-subhead\">Blocks Remaining: {{msg.dif}}</span>\n<p></p>\n<p>Average minutes between Blocks: {{msg.stm}}</p>\n<p>Blocks per day estimate: {{msg.bpd}}</p>\n<p>Days until expiration estimate: {{msg.dux}}</p>\n<p>Today is: {{msg.now}}</p>\n<p>Estimate Date of Expiration: {{msg.eta}}</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":220,"wires":[[]]},{"id":"7df71ec4.bd04a","type":"inject","z":"717e3517.acd13c","name":"get 30s interval","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":130,"y":140,"wires":[["c062a292.e51c2","a83b2540.2f8c08","e897d77a.fa5cc8"]]},{"id":"c062a292.e51c2","type":"http request","z":"717e3517.acd13c","name":"block height","method":"GET","ret":"txt","url":"https://blockchain.info/q/getblockcount","tls":"","x":370,"y":160,"wires":[["ecbb1eb1.ecfba"]]},{"id":"ecbb1eb1.ecfba","type":"function","z":"717e3517.acd13c","name":"height","func":"var height = parseInt(msg.payload);\n\nmsg.payload = height;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["2edb7804.43fa08"]]},{"id":"2edb7804.43fa08","type":"function","z":"717e3517.acd13c","name":"set blockheight globally","func":"global.set(\"blockheight\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[[]]},{"id":"7311779f.ce3a68","type":"function","z":"717e3517.acd13c","name":"calc block stats","func":"//blockchain length stats\nvar rawheight = global.get(\"blockheight\");\nvar rawexpire = msg.payload.expire_block;\n\n\n//blockchain timing stats\nvar rawintvl = global.get(\"blockinterval\");\nvar intvl = Number(rawintvl);\nvar rawdate = global.get(\"now\");\nvar now1 = Date(rawdate);\n\n//length difference\nvar hght = parseInt(rawheight);\nvar expr = parseInt(rawexpire);\nvar dif = expr - hght;\n\n//timing speculation\nvar stm = intvl / 60; //seconds to minutes, ie 1 block per this minute value\nvar bph = 60 / stm; //blocks per hours estimate\nvar bpd = bph * 24; //hours to days\nvar dux = dif / bpd; // days until expire\nvar mill = dux * 86400000; //days to milliseconds\n\nvar raweta = rawdate + mill.round;\nvar eta = Date(raweta);\n\n\n//pass along the outputs\nmsg.intvl = intvl;\nmsg.stm = stm;\nmsg.bph = bph;\nmsg.bpd = bpd;\nmsg.dux = dux;\nmsg.dif = dif;\nmsg.height = hght;\nmsg.expire = expr;\nmsg.now = now1;\nmsg.rawdate = rawdate;\nmsg.raweta = raweta;\nmsg.eta = eta;\nmsg.mill = mill;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["764821bd.f55a","731ccef3.fac68","6d8ae565.a1fb6c"]]},{"id":"a83b2540.2f8c08","type":"http request","z":"717e3517.acd13c","name":"block interval","method":"GET","ret":"txt","url":"https://blockchain.info/q/interval","tls":"","x":370,"y":120,"wires":[["b6b88b07.19e188"]]},{"id":"b6b88b07.19e188","type":"function","z":"717e3517.acd13c","name":"interval","func":"var intvl = parseFloat(msg.payload);\n\nmsg.payload = intvl;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["62235938.38b6d8"]]},{"id":"62235938.38b6d8","type":"function","z":"717e3517.acd13c","name":"set blockinterval globally","func":"global.set(\"blockinterval\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":120,"wires":[[]]},{"id":"e897d77a.fa5cc8","type":"function","z":"717e3517.acd13c","name":"now","func":"var now = parseFloat(msg.payload);\n\nmsg.payload = now;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["ab139b6b.bf3428"]]},{"id":"ab139b6b.bf3428","type":"function","z":"717e3517.acd13c","name":"set now globally","func":"global.set(\"now\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":80,"wires":[[]]},{"id":"6d8ae565.a1fb6c","type":"debug","z":"717e3517.acd13c","name":"object debug","active":true,"console":"false","complete":"true","x":710.0171508789062,"y":263.3619384765625,"wires":[]},{"id":"5d15d11.a72e33","type":"inject","z":"7c678072.e5f22","name":"inject neo.id (generic input)","topic":"","payload":"neo.id","payloadType":"str","repeat":"60","crontab":"","once":true,"x":260,"y":420,"wires":[["11db51e6.e120be","f518fef5.1d04b"]]},{"id":"f518fef5.1d04b","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"payload","x":511,"y":698,"wires":[]},{"id":"a9ece4c9.2f3528","type":"ui_template","z":"7c678072.e5f22","group":"6c7ca644.27cb38","name":"Result","order":1,"width":"8","height":"7","format":"<md-card md-theme=\"\" md-theme-watch>\n<md-card-title>\n    <md-card-title-text>\n        <span class=\"md-headline\">{{msg.payload[0].decodedToken.payload.claim.name}}</span>\n    </md-card-title-text>\n</md-card-title>\n<md-card-content layout=\"row\" layout-align=\"space-between\">\n<div class=\"md-media-xl card-media\">\n    <img src=\"{{msg.payload[0].decodedToken.payload.claim.image[0].contentUrl}}\" alt=\"{{msg.payload[0].decodedToken.payload.claim.name}}\" width=\"180\" height=\"180\">\n    <md-card-title-text>\n        <p></p>\n        <span class=\"md-subhead\">{{msg.payload[0].decodedToken.payload.claim.description}}</span>\n    </md-card-title-text>\n</div>\n<md-card-actions layout=\"column\">\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[0].proofUrl}}\" target=\"_blank\" aria-label=\"1st Proof\">\n  <md-icon ></md-icon>1st\n</md-button>\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[1].proofUrl}}\" target=\"_blank\" aria-label=\"2nd Proof\">\n  <md-icon ></md-icon>2nd\n</md-button>\n<md-button class=\"fa fa-link fa-2x\" ng-href=\"{{msg.payload[0].decodedToken.payload.claim.account[2].proofUrl}}\" target=\"_blank\" aria-label=\"3rd Proof\">\n  <md-icon ></md-icon>3rd\n</md-button>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1491,"y":818,"wires":[[]]},{"id":"e9fbac9d.6d195","type":"function","z":"7c678072.e5f22","name":"rebind name","func":"var blockstackname = msg.payload.data;\nvar nameowner = msg.payload.address;\n\nmsg.topic = nameowner;\nmsg.payload = blockstackname;\n\nreturn msg;","outputs":1,"noerr":0,"x":511,"y":658,"wires":[[]]},{"id":"11db51e6.e120be","type":"http request","z":"7c678072.e5f22","name":"get name from blockstack","method":"GET","ret":"txt","url":"https://core.blockstack.org/v1/names/{{payload}}","tls":"","x":331,"y":738,"wires":[["d2554734.381d88"]]},{"id":"d2554734.381d88","type":"json","z":"7c678072.e5f22","name":"","pretty":false,"x":531,"y":738,"wires":[["9db28f95.13314","3d68e2df.c92dee","dab6ddbb.07ceb"]]},{"id":"9db28f95.13314","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"false","x":851,"y":778,"wires":[]},{"id":"3d68e2df.c92dee","type":"function","z":"7c678072.e5f22","name":"rebind zonefile","func":"var raw_zone = msg.payload.zonefile;\n\nmsg.payload = raw_zone;\n\nreturn msg;","outputs":1,"noerr":0,"x":501,"y":778,"wires":[["257a7cf.d40fa84"]]},{"id":"247888f6.e7fd98","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"payload","x":1391,"y":938,"wires":[]},{"id":"849b524e.2ad85","type":"http request","z":"7c678072.e5f22","name":"get profile from gaia","method":"GET","ret":"txt","url":"","tls":"","x":1061,"y":858,"wires":[["247888f6.e7fd98","9ce0b98a.3ae898"]]},{"id":"9ce0b98a.3ae898","type":"json","z":"7c678072.e5f22","name":"","pretty":false,"x":1291,"y":858,"wires":[["247888f6.e7fd98","a9ece4c9.2f3528","28078b77.74f0c4","6a66826f.0b254c"]]},{"id":"257a7cf.d40fa84","type":"split","z":"7c678072.e5f22","name":"split","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":531,"y":818,"wires":[["6f30b3ef.e7329c"]]},{"id":"6f30b3ef.e7329c","type":"switch","z":"7c678072.e5f22","name":"if contain gaia pass else fail","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"gaia.blockstack.org","vt":"str"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":461,"y":858,"wires":[["ad18ed1a.32e2"],["8e0f463a.32cdd8"]]},{"id":"8e0f463a.32cdd8","type":"debug","z":"7c678072.e5f22","name":"trash","active":true,"console":"false","complete":"payload","x":696,"y":923.7142791748047,"wires":[]},{"id":"ad18ed1a.32e2","type":"function","z":"7c678072.e5f22","name":"step1","func":"var rawstring = msg.payload;\n\nvar step1 = rawstring.split('gaia.blockstack.org/hub/')\n\nvar cleanedup = step1;\n\nmsg.payload = cleanedup;\nreturn msg;","outputs":1,"noerr":0,"x":691,"y":858,"wires":[["b0f4f915.19ceb8","656178bf.9c52a8"]]},{"id":"b0f4f915.19ceb8","type":"function","z":"7c678072.e5f22","name":"step2","func":"var rawstring = msg.payload[1];\n\nvar cleanedup = rawstring.substring(0, rawstring.length-1);\n\nmsg.headers = {};\nmsg.url = \"https://gaia.blockstack.org/hub/\" + cleanedup;\n\nreturn msg;","outputs":1,"noerr":0,"x":831,"y":858,"wires":[["7999cb06.1bcd64","849b524e.2ad85"]]},{"id":"7999cb06.1bcd64","type":"debug","z":"7c678072.e5f22","name":"success","active":true,"console":"false","complete":"payload","x":986,"y":803.7142791748047,"wires":[]},{"id":"656178bf.9c52a8","type":"debug","z":"7c678072.e5f22","name":"success","active":true,"console":"false","complete":"payload","x":801,"y":818,"wires":[]},{"id":"28078b77.74f0c4","type":"ui_template","z":"7c678072.e5f22","group":"dd389bbf.18cb28","name":"Signature","order":4,"width":"8","height":"2","format":"<span class=\"md-subhead\">Signature: {{msg.payload[0].decodedToken.signature}}</span>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1481,"y":858,"wires":[[]]},{"id":"e609a64c.076708","type":"ui_template","z":"7c678072.e5f22","group":"dd389bbf.18cb28","name":"Expiration Info","order":3,"width":"8","height":"5","format":"<span class=\"md-subhead\">Expiration Block: {{msg.expire}}</span>\n<span class=\"md-subhead\">Current Block: {{msg.height}}</span>\n<span class=\"md-subhead\">Blocks Remaining: {{msg.dif}}</span>\n<p></p>\n<p>Average minutes between Blocks: {{msg.stm}}</p>\n<p>Blocks per day estimate: {{msg.bpd}}</p>\n<p>Days until expiration estimate: {{msg.dux}}</p>\n<p>Today is: {{msg.now}}</p>\n<p>Estimate Date of Expiration: </p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":921,"y":698,"wires":[[]]},{"id":"dab6ddbb.07ceb","type":"function","z":"7c678072.e5f22","name":"calc block stats","func":"//blockchain length stats\nvar rawheight = global.get(\"blockheight\");\nvar rawexpire = msg.payload.expire_block;\n\n\n//blockchain timing stats\nvar rawintvl = global.get(\"blockinterval\");\nvar intvl = Number(rawintvl);\nvar rawdate = global.get(\"now\");\nvar now1 = Date(rawdate);\n\n//length difference\nvar hght = parseInt(rawheight);\nvar expr = parseInt(rawexpire);\nvar dif = expr - hght;\n\n//timing speculation\nvar stm = intvl / 60; //seconds to minutes, ie 1 block per this minute value\nvar bph = 60 / stm; //blocks per hours estimate\nvar bpd = bph * 24; //hours to days\nvar dux = dif / bpd; // days until expire\nvar mill = dux * 86400000; //days to milliseconds\n\nvar raweta = rawdate + mill.round;\nvar eta = Date(raweta);\n\n\n//pass along the outputs\nmsg.intvl = intvl;\nmsg.stm = stm;\nmsg.bph = bph;\nmsg.bpd = bpd;\nmsg.dux = dux;\nmsg.dif = dif;\nmsg.height = hght;\nmsg.expire = expr;\nmsg.now = now1;\nmsg.rawdate = rawdate;\nmsg.raweta = raweta;\nmsg.eta = eta;\nmsg.mill = mill;\n\nreturn msg;","outputs":1,"noerr":0,"x":701,"y":718,"wires":[["e609a64c.076708","9db28f95.13314","7b375378.76d6ec"]]},{"id":"7b375378.76d6ec","type":"debug","z":"7c678072.e5f22","name":"object debug","active":true,"console":"false","complete":"true","x":911.0171508789062,"y":741.3619384765625,"wires":[]},{"id":"6a66826f.0b254c","type":"ui_template","z":"7c678072.e5f22","group":"6c7ca644.27cb38","name":"BTC QR","order":1,"width":"3","height":"3","format":"<span class=\"md-subhead\"><img src=\"https://blockchain.info/qr?data={{msg.payload[0].decodedToken.payload.claim.account[0].identifier}}&size=200\" alt=\"QR\" height=\"125\" width=\"125\"></span>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1461,"y":758,"wires":[[]]}]