flows.json
[{"id":"7c678072.e5f22","type":"tab","label":"Profile Lookup","disabled":false,"info":""},{"id":"41f61d2.fbe09e4","type":"tab","label":"Project Lookup","disabled":false,"info":""},{"id":"52a903f3.ad56fc","type":"ui_tab","z":"41f61d2.fbe09e4","name":"Project Lookup","icon":"search","order":2},{"id":"d9ba26fa.6d2b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#7257ee","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#7257ee","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ac9cf5","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#7257ee","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}}},"site":{"name":"Blockstack","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87356b62.92e3d8","type":"ui_group","z":"","name":"Souq","tab":"52a903f3.ad56fc","order":1,"disp":true,"width":"6"},{"id":"c75ad4f0.0cede8","type":"ui_group","z":"","name":"Map","tab":null,"order":6,"disp":true,"width":"6"},{"id":"35f406bc.24958a","type":"ui_link","z":"","name":"Admin","link":"/admin","icon":"open_in_browser","target":"newtab","order":3},{"id":"d680c8c0.12be98","type":"ui_group","z":"","name":"Results","tab":null,"order":5,"disp":true,"width":"6"},{"id":"5a87d2c3.40682c","type":"ui_tab","z":"","name":"Profile Lookup","icon":"search","order":1},{"id":"677619d7.8d8578","type":"ui_group","z":"","name":"Blockstack","tab":"5a87d2c3.40682c","disp":true,"width":"6"},{"id":"db4fb507.d9bb88","type":"ui_group","z":"","name":"Text Results","tab":"52a903f3.ad56fc","order":3,"disp":false,"width":"6"},{"id":"856fe4a3.18a768","type":"ui_group","z":"","name":"Results","tab":"52a903f3.ad56fc","order":2,"disp":true,"width":"12"},{"id":"211296b0.28c4da","type":"ui_group","z":"","name":"Graph","tab":"","disp":true,"width":"6"},{"id":"3affeeb9.7b6812","type":"ui_group","z":"","name":"Profile","tab":"5a87d2c3.40682c","disp":true,"width":"6"},{"id":"7d549f6e.58ab6","type":"worldmap","z":"41f61d2.fbe09e4","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","x":1210,"y":280,"wires":[]},{"id":"c87aa53d.223ba8","type":"inject","z":"41f61d2.fbe09e4","name":"","topic":"","payload":"/worldmap","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":360,"wires":[["42a56979.e10b68"]]},{"id":"582c9a7e.d9d014","type":"ui_template","z":"41f61d2.fbe09e4","group":"87356b62.92e3d8","name":"map","order":2,"width":"6","height":"7","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":360,"wires":[[]]},{"id":"42a56979.e10b68","type":"template","z":"41f61d2.fbe09e4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=300px></iframe>","x":270,"y":360,"wires":[["582c9a7e.d9d014"]]},{"id":"1722289.9cab8d7","type":"ui_form","z":"41f61d2.fbe09e4","name":"","label":"Lookup Project","group":"87356b62.92e3d8","order":1,"width":"6","height":"4","options":[{"label":"Unique.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":80,"y":280,"wires":[["2afed987.2e5276"]]},{"id":"d292cb0f.9a9aa8","type":"debug","z":"41f61d2.fbe09e4","name":"","active":true,"console":"false","complete":"payload","x":430,"y":240,"wires":[]},{"id":"2afed987.2e5276","type":"function","z":"41f61d2.fbe09e4","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["fc25af37.2b062","d292cb0f.9a9aa8"]]},{"id":"fc25af37.2b062","type":"http request","z":"41f61d2.fbe09e4","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/names/{{payload}}","tls":"","x":430,"y":280,"wires":[["ebcd1f16.bf5b8"]]},{"id":"ebcd1f16.bf5b8","type":"json","z":"41f61d2.fbe09e4","name":"","pretty":false,"x":570,"y":280,"wires":[["a2cfd324.c0011","1208296f.6b57d7","fdfd7ede.dd58a"]]},{"id":"b0ef3f14.caf3b","type":"function","z":"41f61d2.fbe09e4","name":"prep for map","func":"// create random position\nvar lat = msg.payload.project[0].coordinates.latitude;\nvar lon = msg.payload.project[0].coordinates.longitude;\nmsg.payload={lat:lat, lon:lon, name:\"Project\", icon:\"bitcoin\", url:\"<a href=\\\"/red/ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":280,"wires":[["7d549f6e.58ab6"]]},{"id":"a2cfd324.c0011","type":"debug","z":"41f61d2.fbe09e4","name":"","active":true,"console":"false","complete":"false","x":730,"y":320,"wires":[]},{"id":"1208296f.6b57d7","type":"debug","z":"41f61d2.fbe09e4","name":"","active":true,"console":"false","complete":"payload.zonefile","x":760,"y":240,"wires":[]},{"id":"52ad566c.ad5558","type":"comment","z":"41f61d2.fbe09e4","name":"sample project to lookup","info":"pr01-mdf9kesl9v92lclivkrfcgt1.id","x":230,"y":440,"wires":[]},{"id":"fdfd7ede.dd58a","type":"function","z":"41f61d2.fbe09e4","name":"rebind zonefile","func":"var raw_zone = msg.payload.zonefile;\n\n\nmsg.payload = raw_zone;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":280,"wires":[["8875a384.84caf"]]},{"id":"ea6cd7d7.1ebc08","type":"debug","z":"41f61d2.fbe09e4","name":"zone debugger","active":true,"console":"false","complete":"payload","x":1060,"y":240,"wires":[]},{"id":"8875a384.84caf","type":"json","z":"41f61d2.fbe09e4","name":"","pretty":false,"x":890,"y":280,"wires":[["ea6cd7d7.1ebc08","b0ef3f14.caf3b","71c42a1e.da4de4"]]},{"id":"fefd9c89.17999","type":"ui_form","z":"7c678072.e5f22","name":"","label":"Profile Lookup","group":"677619d7.8d8578","order":2,"width":"6","height":"3","options":[{"label":"Name.id","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":100,"y":300,"wires":[["763ce6f7.1a6b88"]]},{"id":"3e71c39f.f3f72c","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"payload","x":450,"y":260,"wires":[]},{"id":"dad58184.246f4","type":"ui_template","z":"7c678072.e5f22","group":"3affeeb9.7b6812","name":"Result","order":1,"width":"6","height":"9","format":"<div><h3>{{msg.payload.name.formatted}}</h3></div>\n<div>\n<img src=\"{{msg.payload.avatar.url}}\" alt=\"{{msg.payload.name.formatted}}\" width=\"140\" height=\"140\">\n</div>\n<div>{{msg.payload.bio}}</div>\n\n<div>\n<img src=\"https://blockchain.info/qr?data={{msg.payload.bitcoin.address}}&size=200\" alt=\"QR\" style=\"width:200px;height:200px;\"> \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1030,"y":300,"wires":[[]]},{"id":"763ce6f7.1a6b88","type":"function","z":"7c678072.e5f22","name":"rebind name","func":"var blockstackname = msg.payload.data;\n\nmsg.payload = blockstackname;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["828a5c4f.f7d23","3e71c39f.f3f72c"]]},{"id":"828a5c4f.f7d23","type":"http request","z":"7c678072.e5f22","name":"blockstack","method":"GET","ret":"txt","url":"http://localhost:6270/v1/names/{{payload}}","tls":"","x":450,"y":300,"wires":[["a4441fd.1b247e"]]},{"id":"a4441fd.1b247e","type":"json","z":"7c678072.e5f22","name":"","pretty":false,"x":590,"y":300,"wires":[["d0a6c88b.40ddc8","a898909c.f2b58"]]},{"id":"d0a6c88b.40ddc8","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"false","x":730,"y":260,"wires":[]},{"id":"a898909c.f2b58","type":"function","z":"7c678072.e5f22","name":"rebind zonefile","func":"var raw_zone = msg.payload.zonefile;\n\n\nmsg.payload = raw_zone;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":300,"wires":[["e0bccbe6.f9bc18"]]},{"id":"e0bccbe6.f9bc18","type":"json","z":"7c678072.e5f22","name":"","pretty":false,"x":890,"y":300,"wires":[["dad58184.246f4","90fda2ea.fa25f"]]},{"id":"90fda2ea.fa25f","type":"debug","z":"7c678072.e5f22","name":"","active":true,"console":"false","complete":"false","x":1050,"y":260,"wires":[]},{"id":"71c42a1e.da4de4","type":"ui_template","z":"41f61d2.fbe09e4","group":"db4fb507.d9bb88","name":"Project Summary","order":0,"width":"6","height":"11","format":"<div>\n    <h3>{{msg.payload.project[0].project.title}}</h3>\n</div>\n<div>\n    Type: {{msg.payload.project[0].project.type}}\n</div>\n<div>\n    Category: {{msg.payload.project[0].project.category}}\n</div>\n<div>\n    Detail: {{msg.payload.project[0].project.detail}}\n</div>\n<div>\n   BTC Goal: {{msg.payload.project[0].bitcoin.goal}}\n</div>\n<div>\n    <img src=\"https://blockchain.info/qr?data={{msg.payload.project[0].bitcoin.address}}&size=200\" alt=\"QR\" style=\"width:200px;height:200px;\"> \n</div>\n<div>\n    <img src=\"{{msg.payload.project[0].image.url}}\" alt=\"Thumbnail\" style=\"width:200px;height:200px;\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1066.25,"y":362.5,"wires":[[]]}]